[submodule "bgfx"]
	path = bgfx
	url = https://github.com/northerntechie/bgfx.git
[submodule "bimg"]
	path = bimg
	url = https://github.com/northerntechie/bimg.git
[submodule "bx"]
	path = bx
	url = https://github.com/northerntechie/bx.git
